.App {
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movies-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  font-size: 32px;
}

.movies-navigation-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.movies-navigation-list-item {
  margin: 0 15px;
  font-size: 14px;
  font-weight: 700;
}